@model NathanielJacksonAssignment2.Models.ViewModels.FlightUserVM

<div>
    <h4>Do you want to add this passenger to the flight?</h4>
    <ul>
        <li>Flight# @Model.Flight.Id</li>
        <li>User: @Model.User.UserName</li>
    </ul>
</div>
<form asp-action="Create" id="formCreateFlightUser">
    <input type="hidden" name="flightId" value="@Model.Flight.Id" />
    <input type="hidden" name="userId" value="@Model.User.Id" />
    <input type="submit" value="Add User" class="btn btn-danger" /> |
    <a asp-action="Index" asp-controller="Flight">Back to Flights</a>
</form>

@section Scripts{
    <script defer src="~/js/FlightUserCreate.js"></script>
}