

<table class="table">
    <thead>
        <tr>
            <th>
                FlightId
            </th>
            <th>
                PassengerName
            </th>
            <th>
                FlightCost
            </th>
            <th>
                FlightClass
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>

@section Scripts{
    <script defer src="~/js/FlightUserIndex.js"></script>
}
